[submodule "Plugins/RuntimeAssetImport"]
	path = Plugins/RuntimeAssetImport
	url = https://github.com/metyatech/RuntimeAssetImportPlugin.git
[submodule "UnrealBuildRunTestScript"]
	path = UnrealBuildRunTestScript
	url = https://github.com/metyatech/UnrealBuildRunTestScript.git
